<div class="ajdev-content">
  <h1 class="text-ajdev-blue dark:text-ajdev-blue-dark text-6xl">
    Nice to meet you!
  </h1>
  <p class="ajdev-text">
    I'm a full stack engineer turned site reliability engineer; I build software
    to help developers do their jobs.  I am a trans/non-binary queer person, and
    I use they/them pronouns. I live and work on the <a class="ajdev-link"
    href="https://www.duwamishtribe.org/history"> unceded territory of the
    Dx&#695;d&#601;w&#660;ab&scaron;</a>, and it's important to me that I
    acknowledge this and <a class="ajdev-link"
    href="https://www.realrentduwamish.org/">pay rent</a> to the original people
    of this land. When I'm not working, I enjoy making and drinking coffee, film
    and Polaroid photography, and generally being around trees and nature.
  </p>
  <br />
  <p class="ajdev-text">
    Here's a fun <a class="ajdev-link" href="/particles"> particle animation</a>
    I made with Go to experiment with and learn a bit about WebAssembly! If
    you're using a mouse, you can push the particles around with your mouse!
    For more info on the work I do, check out my <a class="ajdev-link"
    href="/resume"> resume</a>.
  </p>
</div>
