<div class="h-16 px-4 flex flex-col items-end content-center justify-center flex-nowrap">
  <button @click="$store.sidebar.toggle()">
    <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" viewBox="0 0 24 24" fill="none" stroke="currentColor"
      stroke-linecap="square" stroke-linejoin="miter" stroke-width="2" role="img" aria-labelledby="chevronLeftIconTitle">
      <title id="chevronLeftIconTitle">Chevron Left</title>
      <polyline points="14 18 8 12 14 6 14 6" />
    </svg>
  </button>
</div>
